{
    "root": true,
    "env": { // Environment that the code will run in
        "browser": true,
        "jest": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
        // "plugin:jest/recommended"
    ],
    "plugins": [],
    "rules": {
        "indent": [ // Enforce indentation rules
            "warn",
            2
        ]
    },
    "overrides": [
        {
            "files": [ // Checks the following file formats in the src folder (Must)
                "src/**/*.{ts,tsx,js,jsx}"
            ]
        }
    ],
    "settings": {
        "react": {
            "version": "detect" // Auto detect react version
        },
        "import/resolver": {
            "node": {
                "extensions": [ // Don't throw error when importing these files
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    }
}